@model IEnumerable<CourseRegistration1.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Students</h1>

<p>
    <a asp-action="Create">Enroll As New Student</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.S_id)   
            </th>
            <th>
                @Html.DisplayNameFor(model => model.S_fName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.S_lName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.S_email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.S_Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.S_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S_fName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S_lName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S_email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S_Phone)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.S_id}) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
